<div class="container">
<h1>Your Responses</h1>

<% @results.each_with_index do |result, index| %>
<strong><%= (index + 1).to_s + ". " + question_by_id(result.question_id)  %></strong><br>
<%= result.response  %><br><br>
<% end %>
<br>



<% #THIS FORM NEEDS WORK / HAVE NOT CREATED SURVEY RESULTS PAGE %>
<form action="/" method="get">
	<input type="submit" value="Survey Results">
</form>


<form action="/" method="get">
	<input type="submit" value="Take Another Survey">
</form>

</div>
