<div class="container">
  <h1>Welcome to Survey Gorilla!</h1>
  <% @survey.each do |survey| %>
  <p><a href= "/surveys/<%= survey.id %>"> <%= survey.name %></a></p>
  <% end %>

<form action= "/surveys/new" method= "get">
  <input type="submit" value= "Create New Survey">
 </form>
</div>
