<div class="container">
  <h1>Welcome to Survey Gorilla!</h1>
  <% @survey.each do |survey| %>
  <p><a href= "/survey/<%= survey.id %>"> <%= survey.name %></a></p>
  <% end %>

<% if current_user %>
  <form action= "/survey/new" method= "get">
    <input type="submit" value= "Create New Survey">
  </form>
<% end %>

</div>
