<div class="container">

  <h1>Welcome to Survey Gorilla!</h1>
  <% @survey.each do |survey| %>
    <% if current_user %>
      <p><a href= "/surveys/<%= survey.id %>"> <%= survey.name %></a></p>
    <% else %>
       <p><a href= "/user/login_signup"> <%= survey.name %></a></p>
    <% end %>
  <% end %>



</div>
