<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- <link rel="stylesheet" href="/css/foundation.css"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <title></title>
</head>
<body>
  <% if current_user %>
    <p>Welcome, <a href="/user/home"><%= @user.name %></a> - <a href="/">Home</a> - <a href="/user/logout">Log Out</a></p>
  <% else %>
    <p><a href="/">Home</a> - <a href="/user/login_signup">Log In / Sign Up</a></p>
  <% end %>
  <%= yield %>
</body>
</html>
